@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Nunito Light';
        src: url('Nunito-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Nunito Regular';
        src: url('Nunito-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Nunito Medium';
        src: url('Nunito-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Nunito SemiBold';
        src: url('Nunito-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Nunito Bold';
        src: url('Nunito-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Nunito ExtraBold';
        src: url('Nunito-ExtraBold.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #151515 !important;
    color: #fff !important;
    -webkit-box-shadow: 0 0 0 10px #151515 inset !important;
    -webkit-text-fill-color: #fff !important;
}

.p-avatar {
    background-color: #414141 !important;
}

.p-tooltip-text {
    @apply text-xs;
}

.p-toast-message-error {
    background-color: #252525 !important;
    border-color: #303030 !important;
}

.p-toast-detail {
    color: white !important;
}

.p-toast-summary {
    color: white;
    margin-top: -2px;
}

.p-colorpicker-preview {
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.p-checkbox-box {
    background-color: rgb(30 30 30) !important;
    border: 1px solid #424242 !important;
}

.p-checkbox-checked {
    background-color: #252525;
    border-radius: 5px;
}

.p-dialog {
    background-color: #212121 !important;
    border-color: #252525 !important;
}

.p-dialog-header-actions button:hover {
    background-color: #252525 !important;
    color: white !important;
}